p, a, li, button{
    background-color: $color-background;
    font-family: $font-family-text;
}

h1, h2, h3, h4{
    font-family: $font-family-title;
    font-weight: bold;
    color: $color-white;
}