$color-darkgreen: #001e1d;
$color-lightgreen: #abd1c6;
$color-background: #004643;
$color-white: #fffffe;
$color-yellow: #f9bc60;
$color-red: #e16162;
$color-stroke-green: #001e1d;

$font-family-title: 'Protest Strike', sans-serif;
$font-family-text: 'Lato', sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 600;
$fw-bold: 700;